.submission-content
{
    display: grid;
    grid-template-columns: 80% 20%;
    padding: 100px 50px 0 50px;
}

#your{
    opacity: 1;
    position: relative;
    pointer-events: all;
}

.submission-list
{
    display: grid;
    grid-template-columns: 30% 30% 20% 20%;
}
